/* @import url("../fonts/Helvetica/font.css"); */
@import url("../fonts/Helvetica/font.css");
/* 'Dubai' font-weight 300 - 400 - 500 - 700 */
@import url("../fonts/Dubai/font.css");
/* 'Helvetica' font-weight 300 - 500 - 700 */


/* global */
html, body {
    font-family: 'Dubai';
}
h1,h2,h3,
h4, h5, h6,
label {
    font-family: 'Helvetica';
}
.px-10px {
    padding-right: 50px !important;
    padding-left: 50px !important;
}
/* voyager form */
label {
    font-size: 1.3em;
}
.voyager .panel,
.border-left {
    border-left: 3px solid #22A7F0;
}
.panel-report{
    border: 0 ;
}
/* voyager sidebar */
.voyager .side-menu.sidebar-inverse {
    background: linear-gradient(45deg,#010017 0,#003958 100%);
}
.voyager .side-menu.sidebar-inverse .navbar li>a{
    transition: 0.4s all;
}
.voyager .side-menu.sidebar-inverse .navbar li>a:hover {
    background: #075179;
    border-right: 5px solid #22A7F0;
}
.voyager .side-menu.sidebar-inverse .navbar li.active>a {
    border-right: 5px solid #22A7F0;
    background: #075179;
}
.voyager .side-menu .navbar-header {
    background: linear-gradient(45deg,#010017 0,#003958 100%);
}
.panel.widget .dimmer {
    background: #22A7F0;
}
.expanded .side-menu .panel.widget .dimmer, .side-menu:hover .panel.widget .dimmer {
    /* background: linear-gradient(275deg,#384a54 0,rgb(6, 78, 117) 34%,rgb(0, 41, 64) 100%); */
    background: #22A7F0;
}
.app-container .content-container .side-menu .navbar-nav li a {
    font-family: 'Helvetica';
}
.voyager .table>thead>tr>th {
    font-family: 'Helvetica';
    text-align: center;
}
.voyager .table>thead>tr>th.text-right {
    text-align: center !important;
}
table.dataTable tbody tr td{
    text-align: center !important;
}
table.dataTable tbody tr:nth-child(even){
    background-color: rgb(253, 253, 253);
}
.app-container.expanded .content-container .side-menu .navbar-header .navbar-brand .title {
    font-family: 'Helvetica';
}

.announcement-text{
    font-size: 2em;
    padding: 10px;
    text-align: center;
}
table.ammar-table th,
table.ammar-table td{
    text-align: center;
}
.panel-heading {
    padding: 10px 20px;
}
.panel-body {
    padding-top: 20px !important;
}
.table-info th{
    background-color: rgba(206, 206, 206, 0.1);
}