
@font-face {
  font-family: "Dubai";
  src: url('DubaiW23-Light.ttf');
  font-weight: 300; }
@font-face {
  font-family: "Dubai";
  src: url('DubaiW23-Regular.ttf');
  font-weight: 400; }
@font-face {
  font-family: "Dubai";
  src: url('DubaiW23-Medium.ttf');
  font-weight: 500; }
@font-face {
  font-family: "Dubai";
  src: url('DubaiW23-Bold.ttf');
  font-weight: 700; }
/*
font-family: "Dubai", sans-serif;
*/