/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/
@import url("fonts/Helvetica/font.css");

body,
h1,h2,h3,h4,h5,h6,
a,
li,
label,
p{
	font-family: 'Helvatica' !important;
}

#logo img {
    display: block;
    max-width: 100%;
	margin: 28px 0;
}
 #header.sticky-header:not(.static-sticky):not(.sticky-style-2):not(.sticky-style-3) #logo img
{
	height: 30px !important;
    margin: 15px 0;
}
/* topbar */
@media (max-width: 575.98px){
	#top-bar .container, #header.full-header .container, .container-fullwidth {
		width: 100% !important;
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.promo a.button.button-xlarge {
		width: 100%;
	}
}
/* navbar */
@media (max-width: 991px){
	#primary-menu ul ul:not(.mega-menu-column) {
		width: 100%;
		background-color: #49494998 !important;
		margin-bottom: 15px !important;
	}
	#logo img {
		display: block;
		max-width: 100%;
		margin: 0 0 28px auto;
		padding-top: 28px;
	}
}
/* slider */
.video-slider {
	padding: 80px 0 !important;
}
.slider-element .owl-dots {
    bottom: 0px;
}
/* section  */
.img-min {
	min-height: 350px;
}
.fancy-title h3 {
	background-color: transparent !important;
}
#page-title, .section{
	background: #282828 url(../../esnaad/images/bg-transparant.png);
	background-size: cover;
}
ul.tab-nav:not(.tab-nav-lg) li {
	float: right;
}
ul.tab-nav:not(.tab-nav-lg) li:first-child {
    margin-right: 15px;
    margin-left: 0;
    border-right: 1px solid #DDD;
    border-left: 0;
}
@media (max-width: 767px) {
	.nbm-sm {
		margin-bottom: 0 !important;
	}
	.img-min {
		min-height: 270px;
	}
	.py-sm {
		padding: 5px 0 !important;
	}
}
/* index form */
.dark .testimonial {
	background-color: rgba(10, 10, 10, 0.9);
}
.dark .form-control:not(.not-dark) {
	background-color: rgba(70, 68, 68, 0.4);
}
/* footer */

.esnaad-link {
	text-align: right;
}
/* filter */
.portfolio-filter {
	float: none !important;
}
.portfolio-filter li {
    float: none !important;
    display: inline-block !important;
}
/* preloader */
.css3-spinner {
	position: relative;
}
.css3-spinner::after{
	position: absolute;
	top: 57%;
	left: 50%;
	height: 30px;
	transform: translate(-50%, -50%);
	content: url('../images/logo.gif');
}