#logo img {
    display: block;
    max-width: 100%;
	margin: 28px 0;
}
 #header.sticky-header:not(.static-sticky):not(.sticky-style-2):not(.sticky-style-3) #logo img
{
	height: 30px !important;
    margin: 15px 0;
}
#primary-menu > ul > li:first-child {
    margin-right: 0;
}

#primary-menu ul > li {
	float: right;
}
#primary-menu {
    float: left;
}
#logo {
	float: right;
}
/* navbar */
@media (max-width: 991px){
    .dark #primary-menu:not(.not-dark) ul li {
        width: 100%;
    }
    #primary-menu {
        float: right;
        width: 100%;
        transition: all 0.5s;    
    }
    #logo {
        float: left;
    }
	#logo img {
		display: block;
		max-width: 100%;
		margin: 0 auto 28px 0;
		padding-top: 28px;
    }
    #primary-menu ul ul:not(.mega-menu-column) {
        margin-bottom: 0 !important;
    }
}
/* footer */
.cr {
	text-align: right;
}
#copyrights a:last-child {
    margin-right: 10px;
}
.esnaad-link {
 text-align: left;
}

/* about */
.feature-box {
    padding: 0 80px 0 0;
}
.feature-box .fbox-icon {
    right: 0 !important;
}
.promo {
    padding: 30px 30px 30px 200px !important;
}
.promo a.button {
    right: auto !important;
    left: 0 !important;
}
.promo.promo-light a.button {
    left: 30px !important;
}

/* contact */
ul.tab-nav:not(.tab-nav-lg) li {
    float: left;
}
ul.tab-nav:not(.tab-nav-lg) li:first-child {
    margin-right: 0 !important;
    margin-left: 15px;
}
.feature-box.fbox-bg.fbox-center .fbox-icon {
    right: 50% !important;
}