@font-face {
    font-family: 'Helvatica';
    src: url(HelveticaNeueBold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: 'Helvatica';
    src: url(HelveticaNeueRegular.ttf);
    font-weight: 500;
}
@font-face {
    font-family: 'Helvatica';
    src: url(helveticaNeueLight.ttf);
    font-weight: 300;
}
